.energy-beam {
  position: relative;
  height: 6px;
  width: 100%;
  background:#004f4f;
  margin: 20px 0;
  overflow: hidden;
}

.energy-beam.animate::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, cyan, magenta);
  animation: beam 1s ease-out forwards;
  pointer-events: none;
}

@keyframes beam {
  0%   { transform: scaleX(0); opacity: 1; }
  100% { transform: scaleX(1); opacity: 1; }
}

.potion {
  margin: 25px 0;
  border-radius: 3px;
  color: black;
}

.effect {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 27px;
}

.effect-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.effect-text h3 {
  margin: 0;
  font-size: 1.3rem;
  text-align: left;
}
