.potion {
  margin: 25px 0;
  border-radius: 3px;
  color: black;
}

.effect {
  display: flex;
  align-items: center;
  font-size: 27px;
  text-align: center;
}

.effect-text {
  flex-direction: column;
  justify-content: left;
}

.effect-text h3 {
  margin: 0;
  font-size: 1.3rem;
  text-align: left;
}


.action-card {
  width: 100%;
  height: 100px;
  display: flex;
  border-radius: 16px;
  border: 1px solid #004f4f;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 10px;
}

.action-left {
  width: 70%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action-right {
  width: 30%;
}

.action-button {
  width: 100%;
  height: 100%;
  border-radius: 0 16px 16px 0;
  box-shadow: none;
}