<div class="topics-list">
  <h3>TypeScript</h3>
  <mat-list>
    <mat-list-item class="mat-list-item">
      <a class="topics-links" href="#">Operators</a>
    </mat-list-item>
    <mat-list-item class="mat-list-item">
      <a class="topics-links" href="#">Interfaces</a>
    </mat-list-item>
    <mat-list-item class="mat-list-item">
      <a class="topics-links" href="#">Classes</a>
    </mat-list-item>
    <mat-list-item class="mat-list-item">
      <a class="topics-links" href="#">Enums</a>
    </mat-list-item>
  </mat-list>
  <br>
  <h3>Angular</h3>
  <mat-list>
    <mat-list-item class="mat-list-item">
      <a class="topics-links" href="#">Dependency Injection</a>
    </mat-list-item>
    <mat-list-item class="mat-list-item">
      <a class="topics-links" href="#">Lifecycle Hooks</a>
    </mat-list-item>
    <mat-list-item class="mat-list-item">
      <a class="topics-links" href="#">Routing</a>
    </mat-list-item>
    <mat-list-item class="mat-list-item">
      <a class="topics-links" href="#">RxJS</a>
    </mat-list-item>
  </mat-list>
</div>