.top-bar-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
}

.top-bar-menu button {
    color: white;
    margin: 8px;
}

.top-bar-menu button:hover {
  background-color: #004f4f !important;
  color: #fff !important;
  border-radius: 10px !important;
}